.navbar {
    font-size: 18px; /* Increase base font size */
    padding: 10px 10px; /* Increase padding for a larger navbar */
}

.navbar-brand {
    font-size: 22px; /* Larger brand name */
    font-weight: bold; /* Bold brand name */
}

.nav-link {
    padding: 10px 15px; /* Increase padding for larger nav items */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
}

.nav-link:hover {
    background-color: black; /* Change background on hover */
    color: black; /* Change text color on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

.dark-mode-btns {
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-btns:hover {
    background-color: #fff;
    color: black;
    border: 1px solid black;
}
.active-nav-link {
    font-weight: bold;
  }
  
  /* You can also style it further to give more visual feedback */
  .active-nav-link {
    font-weight: bold;
    color: #fff; /* Or any other color to highlight the active link */
  }
